<div class="field">
    <lalel for="{{name}}" class="label">{{label}}</lalel>
    <input oninput="{{action}}(this.name, this.value)" name="{{name}}" type="{{type}}" class="input" placeholder="{{placeholder}}">
</div>